@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  min-height: 100%;
}

header {
  position: fixed;
  width: 100%;
  background: #333;
  top: 0;
  z-index: 1;
}

.main-container {
  width: 1600px;
  margin: auto;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

li {
  list-style-type: none;
  font-size: 20px;
}

.navbar li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar a {
  text-decoration: none;
  color: #fff5e1;
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navtabs {
  display: flex;
  padding: 30px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-bars {
  display: block;
  width: 20px;
  height: 1px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
}

.container {
  background-color: #1c1a19;
  background-image: url("images/Illustration.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 220px;
  border-radius: 0;
  padding: 120px 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 380px;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

h2 {
  color: #fff5e1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  font-weight: 700px;
  line-height: 32px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 100%;
  margin-top: 8px;
}

.text {
  font-weight: 400px;
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.icon {
  color: #fff;
  padding: 6px;
}

ul {
  display: flex;
  gap: 15px;
}

li a i {
  text-decoration: none;
  color: #dbd8d7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

i:hover {
  transition: ease-out 0.5s;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  color: #f98500;
  text-decoration: none;
}

.work-section {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-content: space-around;
  background-color: #fff;
  width: 100%;
  padding: 100px 120px;
  place-items: center;
}

section {
  display: flex;
  flex-direction: column;
}

.row1 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
  padding: 100px 120px;
  place-items: center;
}

.recent-work {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  color: #000;
  text-align: left;
  margin-bottom: 15px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
}

hr {
  margin-bottom: 20px;
}

.popup-btn .link-img {
  height: 20px;
  width: 20px;
  left: 5px;
  position: relative;
  top: 5px;
  font-size: 20px;
  border-radius: 0;
}

.recent-hr {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
}

.project-box h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
  line-height: 44px;
  color: #000;
}

#img2 {
  display: none;
}

.project-box p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}

.project-box {
  display: flex;
  width: 90%;
  gap: 10px;
  align-items: space-around;
  flex-direction: column;
}

.btn ul {
  border: none;
  outline: none;
  color: #fff;
  height: 40px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  width: 78px;
  height: 40px;
  border: 1px solid #8993a4;
}

.btn {
  width: 100%;
}

.see_more_btn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 10px;
}

.see_more_btn button {
  width: 140px;
  height: 48px;
  color: #fff;
  outline: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  background: #f55800;
  padding: 12px;
}

.view-project {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  height: 3rem;
  width: 23rem;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: #fff;
  background: #f55800;
}

.resume-btn button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: #fff;
  background: #f55800;
  width: 150px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 16rem;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  transition: ease-in 1s;
}

button:active {
  background: #e05304;
  background: #f4f1f0;
  transform: translateY(8px);
}

.about-me-section {
  background-color: #262626;
  color: #fff5e1;
  padding: 20px 15px;
  margin-top: 180px;
  background-image: url("images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 300px;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 22rem;
  padding: 16px;
  margin-top: 50px;
  gap: 25px;
}

.cont h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.about-me p {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}

.about_footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 22px;
  line-height: 43px;
}

.about_footer {
  margin: 60px;
  color: #fff;
}

.list-style ul {
  color: #fff;
  display: flex;
  margin-top: 20px;
}

.about_footer .list-style {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  padding: 20px;
  text-align: center;
}

.Language {
  list-style-image: url("images/Rectangle\ 55.png");
}

.framework {
  list-style-image: url("images/Rectangle\ 56\ \(1\).png");
}

.skills {
  list-style-position: inside;
  width: 20rem;
  list-style-image: url("images/Rectangle\ 57.png");
}

.list-style li {
  list-style-image: none;
}

.contact-form {
  display: flex;
  flex-direction: coluhmn;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  height: 50rem;
}

.contact-info {
  text-align: center;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
}

.span {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

.input {
  width: 20.5rem;
  height: 3rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #dbd8d7;
  border-width: 1px;
  outline: none;
  padding: 15px;
  background: none;
}

textarea {
  background: #fbf8f7;
  border: none;
  outline: none;
  padding: 15px;
  height: 114px;
  width: 327px;
  left: 0;
  top: 0;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  border-radius: 0;
}

.submit {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 24px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 40px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #ff6b00;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: #505f79;
}

.footer li a i {
  color: #505f79;
}

.hr_footer {
  height: 7px;
  width: 134px;
  left: 120px;
  top: 21px;
  border-radius: 10px;
  background: #000;
}

.desk-btn {
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.pop {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 0 12px;
  background-color: #fff;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.popup-header h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #000;
}

#close {
  font-size: 24px;
  padding: 10px;
}

.popup-button button {
  height: 40px;
  background:
    linear-gradient(0deg, #fff, #fff),
    linear-gradient(0deg, #dfe1e6, #dfe1e6);
  border-radius: 0;
  outline: none;
  border: 1px solid #dfe1e6;
}

.popup-body {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup-button .popup-btn {
  margin-top: 20px;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 24px;
  width: 150px;
}

#lists {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 10px;
}

.git {
  position: relative;
  left: 10px;
}

.desktop {
  display: none;
}

.mob-title {
  display: flex;
}

.mob {
  display: flex;
}

#work-card {
  display: none;
}

#work-card-mobile {
  gap: 40px;
  display: flex;
}

.card {
  height: 400px;
  width: 300px;
  position: relative;
  top: 20px;
  left: 30px;
  color: #fff;
  margin-left: 15px;
}

.card h2 {
  color: #fff;
}

.cont {
  position: absolute;
  top: 20%;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 410px;
  width: 310px;
}

.cont ul li {
  height: 40px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  left: 79px;
  top: 0;
  border-radius: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#work-card-mobile .card-button {
  height: 58px;
  width: 310px;
  position: relative;
  bottom: 70px;
}

#work-card-mobile .card:hover {
  animation: animate 2s;
  transition: ease-out;
}

@keyframes animate {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.card-button button {
  position: relative;
  top: 25%;
  outline: none;
  border: none;
  background: #f55800;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.card-button button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  transition: ease-in 1s;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url("images/Illustration-header.png");
    background-size: contain;
    background-position-y: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 80px;
  }

  .row {
    flex-direction: row-reverse;
    gap: 60px;
    width: 33.7rem;
    height: 20rem;
  }

  .icon ul {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .project-box {
    flex-direction: row;
    gap: 30px;
    width: 100%;
  }

  .header-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  /* ------------work-card--------------- */
  #work-card {
    display: flex;
    position: relative;
    top: -70px;
    gap: 70px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  #work-card-mobile {
    display: none;
  }

  .card {
    height: 400px;
    width: 300px;
    position: relative;
    top: 20px;
    left: 65px;
    color: #fff;
  }

  .card h2 {
    color: #fff;
  }

  .cont {
    position: absolute;
    top: 25%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .card-img {
    display: flex;
    justify-content: space-around;
    height: 410px;
    width: 310px;
  }

  .cont ul li {
    height: 40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.24);
    left: 79px;
    top: 0;
    border-radius: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .card-button {
    height: 58px;
    width: 310px;
    position: relative;
    display: none;
    bottom: 70px;
  }

  .card:hover {
    animation: animate 2s;
    transition: ease-out;
  }

  @keyframes animate {
    0% {
      transform: scale(0.95);
    }

    50% {
      transform: scale(1.05);
    }

    75% {
      transform: scale(1);
    }

    100% {
      transform: scale(1);
    }
  }

  .card:hover .card-button {
    display: flex;
  }

  .card-button button {
    position: relative;
    top: 25%;
    outline: none;
    border: none;
    background: #f55800;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .mob-title {
    display: none;
  }

  .mob {
    display: none;
  }

  #img1 {
    display: none;
  }

  #img2 {
    display: flex;
  }

  .work-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .recent-work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .recent-work h3 {
    color: #000;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  hr {
    flex-direction: column;
    align-self: center;
    height: 1px;
    text-align: left;
    width: 194px;
    left: 339px;
    top: 26px;
    border-radius: 0;
  }

  .recent-hr {
    width: 700px;
    border: 1px solid black;
  }

  .view-project {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: #fff;
    background: #f55800;
  }

  .about-me-section {
    background-image: url("images/Group.png");
    background-size: auto;
    background-position-y: 100px;
    margin-top: 120px;
  }

  .about-me {
    margin-left: 100px;
  }

  .about-me-section hr {
    width: 1000px;
  }

  .profile ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .profile .ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contact-info {
    width: 40%;
  }

  .contact-info p {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 40px;
  }

  .form-group {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .input {
    width: 40rem;
  }

  textarea {
    width: 40rem;
  }

  .submit {
    align-self: flex-start;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
    margin: 30px;
  }

  .span {
    color: #262626;
    display: inline;
  }

  .hr {
    width: 100%;
  }

  .footer li a i {
    flex-direction: row;
  }

  .desk-btn {
    display: flex;
  }

  .footer hr {
    display: none;
  }

  #desktop {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 44px;
  }

  .desktop {
    display: flex;
    color: #172b4d;
  }

  .Language {
    list-style-position: inside;
    list-style-image: url("images/Rectangle\ 55.png");
  }

  .framework {
    list-style-position: inside;
    list-style-image: url("images/Rectangle\ 56\ \(1\).png");
  }

  .skills {
    list-style-position: inside;
    list-style-image: url("images/Rectangle\ 57.png");
  }

  .show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .pop {
    position: relative;
    width: 80vw;
    height: 82vh;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    background-color: #fff;
  }

  .popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #172b4d;
    width: 100%;
  }

  .popup-header h2 {
    color: #172b4d;
  }

  .pop button {
    height: 48px;
    outline: none;
  }

  .popup-btn {
    background: #f55800;
    color: #fff;
    border: none;
  }

  .popup-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: -40px;
    position: relative;
    width: 100%;
    height: 350px;
  }

  .pop-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 424px;
    height: 350px;
  }

  .popup-button #lists {
    position: relative;
    top: -20px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .popup-body img {
    width: 620px;
    height: 350px;
  }

  .popup-header #close {
    font-size: 25px;
    cursor: pointer;
    padding: 20px;
    color: #67798e;
  }
}

@media screen and (max-width: 1600px) {
  .main-container {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .hamburger-bars:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger-bars:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger-bars:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }

  .navtabs {
    position: fixed;
    top: -100%;
    left: 0;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: 35rem;
    transition: 0.5s;
    background: #333;
  }

  .navtabs.active {
    top: 0;
    margin-top: 28px;
  }

  .navtabs li {
    margin: 10px 0;
    border-bottom: 1px solid #6a6a6a;
    border-right-width: 30px;
    padding: 8px;
  }

  .icons {
    display: none;
    border-bottom: none;
  }
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .hamburger-bars:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger-bars:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger-bars:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }

  .navtabs {
    position: fixed;
    top: -100%;
    left: 0;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: 35rem;
    transition: 0.5s;
    background: #333;
  }

  .navtabs.active {
    top: 0;
    margin-top: 28px;
  }

  .navtabs li {
    margin: 10px 0;
    border-bottom: 1px solid #6a6a6a;
    border-right-width: 30px;
    padding: 8px;
  }

  .icons {
    display: none;
    border-bottom: none;
  }
}
