* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  width: 450px;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #333;
  padding: 20px;
  color: #fff;
  position: feixed;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  min-width: 100px;
  width: 100%;
}

i {
  display: flex;
  justify-items: flex-end;
}

.container {
  background-color: #1c1a19;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  height: 580px;
  width: 450px;
  left: 0;
  top: 92px;
  border-radius: 0;
  padding: 100px 10px 10px 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.row {
  margin-top: 8px;
}

h1 {
  color: #ff6b00;
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
}

p,
h2 {
  color: #f2f2f2;
  padding: 8px;
}

.icon {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 12px;
}

.shapes {
  position: relative;
  left: 117px;
  bottom: 203px;
  display: flex;
  justify-content: end;
  align-items: center;
}
