* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  min-height: 100vh;
}

.nav-section {
  background-color: #333;
  padding: 20px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo,
svg {
  cursor: pointer;
}

.nav-section .logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  min-width: 100px;
  width: 100%;
}

.container {
  background-color: #1c1a19;
  background-image: url("images/Illustration.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 220px;
  border-radius: 0;
  padding: 120px 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 380px;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

h2 {
  color: #fff5e1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
  font-weight: 700px;
  line-height: 32px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 100%;
  margin-top: 8px;
}

.text {
  font-weight: 400px;
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.icon {
  color: #fff;
  padding: 6px;
}

ul {
  display: flex;
  gap: 15px;
}

li {
  list-style-type: none;
  font-size: 20px;
}

li a i {
  text-decoration: none;
  color: #dbd8d7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

i:hover {
  transition: ease-out 0.5s;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  color: #f98500;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.row1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: space-around;
  background-color: #fff;
  width: 100%;
  padding: 20px 120px;
  place-items: center;
}

.recent-work h2 {
  color: #000;
}

hr {
  width: 320px;
  margin: 8px;
}

.box4 {
  background:
    linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%),
    url("images/Img\ Placeholder\ \(2\).png");
  left: 0;
  top: 0;
  width: 80%;
  height: 369px;
  color: #fff;
  border-radius: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  letter-spacing: 1.2px;
}

.box1 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
  line-height: 44px;
  color: #000;
}

.box1 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}

.box1 {
  background-color: #fff;
  display: flex;
  width: 80%;
  gap: 10px;
  align-items: space-around;
  flex-direction: column;
}

.btn ul {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  height: 40px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  width: 78px;
  height: 40px;
  color: #000;
  border: 1px solid #8993a4;
}

.box4 li {
  color: #fff;
  width: 90px;
  background: rgba(255, 255, 255, 0.24);
}

.box4 h2 {
  color: #fff;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.btn {
  width: 100%;
}

.see_more_btn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
}

.see_more_btn button {
  width: 124px;
  height: 48px;
  color: #fff;
  outline: none;
  border: none;
  text-align: center;
  background: #ff6b00;
  padding: 12px;
}

.see-btn button {
  width: 330px;
  outline: none;
  text-align: center;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.see-btn {
  width: 81%;
  height: 40px;
  background: #ff6b00;
  position: absolute;
  top: 119em;
  left: 35.9px;
  border-style: none;
  color: #fff;
  border-collapse: collapse;
}

.box4 button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  outline: none;
  text-align: center;
  position: relative;
  top: 10px;
  background: none;
  border-style: none;
  color: #fff;
  border-collapse: collapse;
}
